<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>About</title>
</head>
<body>

    <div>
        <ul>
            <li><a href="/home">Back to home</a></li>
        </ul>
    </div>  

    <h3>About Sérgio:</h3>
    <article>
        <p>A talented player, Conceição was mainly known for his speed, strength, and ability to cover the flank and get forward, also possessing good dribbling skills, crossing ability, and a fairly accurate shot. A versatile and hard-working midfielder, although he was usually deployed as a right winger, he was also capable of playing in a holding role.</p>
    </article>
   

    <h4>Personal life</h4>

    <article>
        <p>Coimbra's municipal government named a local 2,500-seater stadium after him – the Estádio Municipal Sérgio Conceição. He fathered five sons: Sérgio, Rodrigo, Moisés, Francisco and José.
        
        Conceição helped ten families who were struggling financially during the COVID-19 pandemic, with the intent of providing "a grocery store in every home". During an interview to RTP1 in December 2020, he stated that his hero was God and he was a devout Catholic.</p>
    </article>

</body>
</html>