<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Welcome Everyone!</h1>
<div>
    <ul>
        <h3>Sérgio Conceição</h3>

        <p>Sérgio Paulo Marceneiro da Conceição, born 15 November 1974, is a Portuguese professional football manager and former player who mostly played as a right winger. He is the current manager of Porto.</p>

        <li><a href="/about">Let's check the about page</a></li>

        <h3>Career</h3>

        <p>Throughout his career, he played for ten teams in five countries. After gaining international recognition with Porto he switched to Italy, where he appeared for three clubs, winning domestic and European honours at Lazio. He amassed Primeira Liga totals of 97 games and 13 goals over four seasons, adding 136 matches and 13 goals in Serie A.

        Having won 56 caps for Portugal, Conceição represented the nation at Euro 2000 and the 2002 World Cup, reaching the semi-finals of the former. In 2012, he started working as a manager, winning three league titles for Porto and the double in 2019–20 and 2021–22. 
        
        After that he became a manager.</p>
        <li><a href="/works">Let's check his career</a></li>

        <h3>Photos</h3>
        <p>Please go check this handsome man's amazing photos</p>
        
        <li><a href="/photogallery">Go to the photogallery</a></li>
    </ul>
</div>   


</body>
</html>