<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Gallery</title>
</head>
<body>
    
    <h1>Lets check this handsome dude's photos</h1>
    
    <div>
        <ul>
            <li><a href="/home">Back to home</a></li>
        </ul>
    </div>  


    <div class="titulo"><img src="/images/conceicao-4.webp" alt=""></div>
    <img src="/images/conceicao.jpg" alt="">
    <img src="/images/conceicao-2.jpg" alt="">
    <img src="/images/conceicao-3.jpg" alt="">

   
</body>
</html>