<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Works</title>
</head>
<body>

    <div>
        <ul>
            <li><a href="/home">Back to home</a></li>
        </ul>
    </div>  

    <p>Throughout his career, he played for ten teams in five countries. After gaining international recognition with Porto he switched to Italy, where he appeared for three clubs, winning domestic and European honours at Lazio. He amassed Primeira Liga totals of 97 games and 13 goals over four seasons, adding 136 matches and 13 goals in Serie A.</p>

    <div class="player-photo">
        <ul>
            <li>1993–1994 Penafiel</li>
            <li>1994–1995	Leça</li>
            <li>1995–1996	Felgueiras</li>
            <li>1996–1998	Porto</li>
            <li>1998–2000	Lazio</li>
            <li>2000–2001	Parma</li>
            <li>2001–2003	Inter Milan</li>
            <li>2003–2004	Lazio</li>
            <li>2004	Porto</li>
            <li>2004–2007	Standard Liège</li>
            <li>2007	Al Qadsia</li>
            <li>2008–2010	PAOK</li>
        </ul>
        <img src="/images/conceicao-player.jpg" alt="">
    </div>

    <p>Having won 56 caps for Portugal, Conceição represented the nation at Euro 2000 and the 2002 World Cup, reaching the semi-finals of the former. In 2012, he started working as a manager, winning three league titles for Porto and the double in 2019–20 and 2021–22.</p>

    <div class="title-photo">
        <ul>
            <li>2010–2011	Standard Liège (assistant)</li>
            <li>2012–2013	Olhanense</li>
            <li>2013–2014	Académica</li>
            <li>2014–2015	Braga</li>
            <li>2015–2016	Vitória Guimarães</li>
            <li>2016–2017	Nantes</li>
            <li>2017–	Porto</li>
        </ul>
        <img src="/images/conceicao-title.webp" alt="">
    </div>
   
</body>
</html>